.tooltip {
    position: relative;
    display: inline-block;
    opacity: 100%;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -3px;
    left: 180%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }