@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background: #fff;
  border-radius: 7px;
  padding: 30px 25px 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  margin-bottom:10px;
}

.sortable-list {
  background: #fff;
  border-radius: 7px;
  padding: 30px 60px 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.item {
  width: 450px;
  cursor: move;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.06); 
  border: 1px solid #ccc;
  justify-content: space-between;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.item.dragging {
  opacity: 0.6;
}
.item.dragging :where(.details, i) {
  opacity: 0;
}

.details {
  padding: 7px 0px 7px 10px;
  display: flex;
  flex-direction: column;
}

.date {
  grid-area: dates;
  font-size: 0.85em;
  color: #A9A9A9; /* Light grey */
}

.description {
  grid-area: description;
  text-align: left;
}

.project-colour {
  background-color:#ccc;
  height: 100%;
  padding: 20px 10px;
}

[type="checkbox"] {
  /* opacity:0; */
  position: absolute;
}

.checkbox-area {
  height: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
}

.custom-checkbox {
  --size: .85em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  border: 2px solid rgb(90, 90, 90);
  border-radius: 50%;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.checkbox-area:hover .custom-checkbox, [type="checkbox"]:focus + span {
  transform: scale(1.2);
  border-color:darkcyan;
}

[type="checkbox"]:checked + .custom-checkbox {
  background: darkcyan;
  border-color: darkcyan;
  box-shadow: inset 0 0 0px 2px white;
}

/* .description::after {
  content: "";
  position: absolute;
  left:0;
  right:0;
  height: 2px;
  background: currentColor;
} */

.indented {
  margin-left: 50px; 
  padding: 0px;
  width:auto;
}

.material-symbols-outlined{
  font-size: 12px;
}