{% extends "mythic/layout.html" %}
{% load static %}

{% block body %}
    <h1>Create New Task</h1>
    <h1>Test</h1>
    <form action="{% url 'create_task' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    


    <h1>Tasks</h1>
    <ol>
        {% for task in tasks %}
            
                <li >
                    <div id="edit-task-body-{{ task.id }}" onclick="edit_task({{ task.id }})" class="tooltip">
                        {{ task.description }} | <b>Due on:</b> {{ task.get_datetime.due_date }} | <b>Scheduled for:</b> {{ task.get_datetime.scheduled_date}}
                        <span class="tooltiptext">Click on the text to edit</span>
                    </div>
                    
                    <div id="edit-task-form-{{ task.id }}" style="display: none;">
                        <input id="edit-task-input-{{ task.id }}" type="text">
                        <div>
                            <label for="id_due_date">Due date:</label>
                            <input type="date" name="due_date" required="" id="input-due-date-{{ task.id }}">
                        </div>
                        <div>
                            <label for="input-scheduled-date-{{ task.id }}">Scheduled date:</label>
                            <input type="date" name="scheduled_date" required="" id="input-scheduled-date-{{ task.id }}">
                        </div>
                        <button id="edit-task-btn-{{ task.id }}"  onclick="save_edit({{ task.id }})">Submit</button>    
                    </div>

                    <button style="border: none; background-color: transparent;" onclick="move_up({{ task.id }})">↑</button>
                    <button style="border: none; background-color: transparent;" onclick="move_down({{ task.id }})">↓</button>
                </li>
        {% endfor %}
    </ol>

{% endblock %}

{% block script %}
    <script src="{% static 'mythic/create_task3.js' %}"></script>
{% endblock %}

